<div class="modal-body" id="modalPostInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="post-photo">
      <img src="https://s1.1zoom.ru/b5350/233/Painting_Art_Sunrises_and_sunsets_Mountains_Deer_529666_3840x2400.jpg">
    </div>
    <div class="post-info">
      <h2>{{post.user.login}}</h2>
      <br>
      <h6>Description:</h6>
      <h4>{{post.txt}}</h4>
      <br>
      <h6>Date:</h6>
      <h4>{{post.date}}</h4>
      <br>
      <h5>Place: </h5>
      <h4>{{post.place}}</h4>
      <br>
      <tr>
        <td><h5>Likes: {{post.likes.length}}</h5></td>
        <td><h5>Comments: {{post.comment.length}}</h5></td>
      </tr>
    </div>
  </div>
  <button id="post-comments" (click)="_postComments()">Show Comments</button>

  <div *ngIf="vision" class="comment-area">
    <h4>Comments:</h4>
    <tr id="comment-header">
      <td>Login</td>
      <td>Comment</td>
    </tr>
    <tr *ngFor="let s of post.comment; let r = index ">
      <td>{{s.user.login}}</td>
      <td>{{s.txt}}</td>
    </tr>
  </div>
</div>

<!--<button id="post-comments" (click)="_PostComments()">View posts</button>-->
<!--<div *ngIf="vision" class="post-table">-->
