<div class="body">
  <div class="in-body" *ngIf="globalVision">
    <div class="shell">
      <div class="post-photo">
        <img *ngIf="post && post.photo" src="data:image/jpg;base64,{{post?.photo}}">
      </div>
      <div class="post-info">
        <h2 style="margin-right: 30px;">{{post?.user?.login}}</h2>
        <br>
        <h6>Description:</h6>
        <h4>{{post?.txt}}</h4>
        <br>
        <h6>Date:</h6>
        <h4>{{post?.date | date: 'dd/MM/yy HH:mm:ss'}}</h4>
        <br>
        <h5>Place: </h5>
        <h4>{{post?.place}}</h4>
        <br>
        <tr>
          <td><h5>Comments: {{post?.comment?.length}}</h5></td>
        </tr>
        <tr>
          <button mdbBtn color="primary" id="post-comments" *ngIf="deletePostButton"
                  (click)="_deletePost()">Delete Post
          </button>
        </tr>
      </div>
    </div>
<!--    <button mdbBtn color="primary" id="post-comments" (click)="_postComments()">Show Comments</button>-->

    <div class="comment-area">
      <h4>Comments:</h4>
      <tr id="comment-header">
        <td style="flex: 5">Comment</td>
        <td style="flex: 1">Login</td>
        <td style="flex: 1; margin-right: 15px;">Date</td>
      </tr>
      <div class="comment-scroll">
      <tr *ngFor="let s of post.comment; let r = index ">
        <td style="flex: 5">{{s?.txt}}</td>
        <td style="flex: 1">{{s.user?.login}}</td>
        <td style="flex: 1;">{{s?.date | date: 'dd/MM/yy HH:mm:ss'}}
        <img *ngIf="s.user.login == this.user.login || this.userRole == 'ROLE_ADMIN'"
          height="20px" width="20px" src="assets/images/delete-icon.png"
          (click)="_deleteComment(s.id)" alt="delete"></td>
      </tr>
      </div>
      <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"
              mdbWavesEffect>New Comment
      </button>
    </div>
  </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">

  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide(); _modalReset()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Comment</h4>
      </div>

      <div [formGroup]="form">

        <div class="form-group" style="text-align: center">
          <label for="Comment"><strong>Comment</strong></label>
          <input class="form-control" name="Comment" id="Comment"
                 formControlName="txt" style="width: 70%; margin: 0 15%" >
          <div class="alert alert-danger mt-3"
               *ngIf="form.controls['txt'].invalid && form.controls['txt'].dirty">
<!--               *ngIf="nullValue"-->

                Sorry, your comment is incorrect
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                (click)="basicModal.hide(); _modalReset()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
        (click)="basicModal.hide(); _commentSave()" [disabled]="form.invalid">
          Comment
        </button>
      </div>

    </div>
  </div>
</div>
<!--<button id="post-comments" (click)="_PostComments()">View posts</button>-->
<!--<div *ngIf="vision" class="post-table">-->
