<mdb-navbar class="navigation" SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo">

  <mdb-navbar-brand *ngIf="userExist">
    <a id="home-link" mdbBtn color="primary" class="navbar-brand" [routerLink]="['/home']">Home</a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto" *ngIf="userExist">
      <li class="nav-item">
        <a id="new-post-button" mdbBtn color="primary" class="nav-link waves-light" mdbWavesEffect
           [routerLink]="['/posts']">News
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="newPostModal.show()"
                mdbWavesEffect>New Post
        </button>
      </li>
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link waves-light" mdbWavesEffect-->
      <!--           [routerLink]="['/post']">News-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link waves-light" mdbWavesEffect-->
      <!--           [routerLink]="['/login']">Sign In</a>-->
      <!--      </li>-->
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link waves-light" mdbWavesEffect-->
      <!--           [routerLink]="['/register']">Sign Up</a>-->
      <!--      </li>-->
    </ul>

<!--    <form class="form-inline waves-light" mdbWavesEffect>-->
<!--      <div class="md-form my-0" *ngIf="!userExist">-->
<!--        <ul class="navbar-nav mr-right">-->
<!--          <li class="nav-item active">-->
<!--            &lt;!&ndash;            <a class="nav-link">{{user.username}}</a>&ndash;&gt;-->
<!--            <a mdbBtn color="primary" class="nav-link waves-light" mdbWavesEffect-->
<!--               [routerLink]="['/register']">Sign Up / Sign In</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </form>-->

    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0" *ngIf="userExist">
        <ul class="navbar-nav mr-right">
          <li class="nav-item active">
            <a mdbBtn color="primary" class="nav-link waves-light" mdbWavesEffect (click)="logOut()">Log Out</a>
          </li>
        </ul>
      </div>
    </form>

    <!-- Dropdown -->
    <!--      <li class="nav-item dropdown" dropdown>-->
    <!--        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>-->
    <!--          Basic dropdown<span class="caret"></span></a>-->
    <!--        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">-->
    <!--          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>-->
    <!--          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>-->
    <!--          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>-->
    <!--          <div class="divider dropdown-divider"></div>-->
    <!--          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>-->
    <!--        </div>-->
    <!--      </li>-->

    <!--     Links -->

    <!-- Search form -->
    <!--    <form class="form-inline waves-light" mdbWavesEffect>-->
    <!--      <div class="md-form my-0">-->
    <!--        <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
    <!--      </div>-->
    <!--    </form>-->

    <!-- Collapsible content -->
  </links>

</mdb-navbar>


<div mdbModal #newPostModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="newPostModal.hide(); _modalReset()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">New Post</h4>
      </div>
      <div [formGroup]="form">

        <div class="form-group">
          <label for="photo"><strong>Choose Photo</strong></label>
          <input type="file" class="form-control-file" id="photo"
                 (change)="onFileSelected($event)" accept="image/jpeg,image/png">
          <div class="red-text" *ngIf="!selectedFile">
            Incorrect file type. Choose only jpg/png.
          </div>
          <label for="Description"><strong>Description</strong></label>

          <textarea class="form-control" name="Description" id="Description" cols="30" rows="10"
                    formControlName="description"></textarea>

          <label for="Place"><strong>Place</strong></label>
          <textarea class="form-control" name="Place" id="Place" colse="30" rows="2" formControlName="place"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                (click)="newPostModal.hide(); _modalReset()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                [disabled]="!selectedFile" (click)="newPostModal.hide(); _onSave()">Post
        </button>
      </div>

    </div>
  </div>
</div>
