<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Photo</th>
    <th scope="col">Text</th>
    <th scope="col">Date</th>
    <th scope="col">User</th>
    <th scope="col">Comment</th>
    <th scope="col">Tag</th>
    <th scope="col">Like</th>

  </tr>
  </thead>
  <tbody class="thead-dark-child">
  <tr *ngFor="let s of post; let r = index ">
    <td>{{s.id}}</td>
    <td>{{s.photo}}</td>
    <td>{{s.txt}}</td>
    <td>{{s.date}}</td>
    <td>{{s.user.login}}</td>
    <td>{{s.comment?.length}}</td>
    <td>{{s.tag?.length}}</td>
    <td>{{s.like?.length}}</td>
  </tr>
  </tbody>
</table>
