.table{
  margin-top: 73px;
}
.thead-dark{
  background-color: lightgray;
  text-align: center;
}

.thead-dark-child{
  background-color: lightblue;
  text-align: center;
}

.post{
  margin-top: 2%;
  margin-left: 3px;
  text-align: center;
  width: 99%;
  height: 410px;
  display: flex;
  background-color: rgba(255, 182, 193, 0.3);
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

.post-photo{
  flex: 1;
}

.post-info{
  text-align: left;
  flex: 1;
  margin: 1%;
}

#info{
  margin-top: 340px;
  margin-right: .5%;
  height: 50px;
}

.post-photo img{
  height: 405px;
  width: 720px;
}


