<div class="table">
<!--  <thead class="thead-dark">-->
<!--  <tr>-->
<!--    <th scope="col">Id</th>-->
<!--    <th scope="col">Photo</th>-->
<!--    <th scope="col">Text</th>-->
<!--    <th scope="col">Date</th>-->
<!--    <th scope="col">User</th>-->
<!--    <th scope="col">Comment</th>-->
<!--    <th scope="col">Tag</th>-->
<!--    <th scope="col">Like</th>-->

<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody class="thead-dark-child">-->
<!--  <tr *ngFor="let s of posts; let r = index ">-->
<!--    <td><a routerLink="post/{{s.id}}">{{s.id}}</a></td>-->
<!--    <td>{{s.photo}}</td>-->
<!--    <td>{{s.txt}}</td>-->
<!--    <td>{{s.date}}</td>-->
<!--    <td>{{s.user.login}}</td>-->
<!--    <td>{{s.comment?.length}}</td>-->
<!--    <td>{{s.tags?.length}}</td>-->
<!--    <td>{{s.likes?.length}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->

  <div class="post" *ngFor="let s of posts; let r = index ">
  <div class="post-photo">
    <img src="https://s1.1zoom.ru/b5350/233/Painting_Art_Sunrises_and_sunsets_Mountains_Deer_529666_3840x2400.jpg"
    alt="Content not visible">
  </div>
  <div  class="post-info">
    <h2>{{s.user.login}}</h2>
    <br>
    <h6>Date:</h6>
    <h4>{{s.date}}</h4>
    <br>
    <h5>Place: </h5>
    <h4>{{s?.place}}</h4>
    <br>
    <h5>Likes: {{s.likes.length}}</h5>
    <br>
  </div>
    <a mdbBtn color="primary" id="info" routerLink="post/{{s.id}}">info</a>
  </div>
</div>
