<div class="body">
  <div class="user-info">
    <div class="left-column">
      <img id="user-photo" [src]="userImg" alt="No Photo">
    </div>
    <div class="right-column">
      <table>
        <tr>
          <td>Login</td>
          <td>{{user?.login}}</td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td>{{user?.email}}</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>{{user?.firstName}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{user?.lastName}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{user?.gender}}</td>
        </tr>
        <tr>
          <td>Registered</td>
          <td>{{user?.created | date: 'dd/MM/yy'}}</td>
        </tr>
        <tr *ngIf="userRole == 'ROLE_ADMIN'">
          <td>Role</td>
          <td>{{user?.role}}</td>
        </tr>
      </table>

      <div class="buttons">
        <button mdbBtn color="primary" id="user-posts" (click)="_UserPosts()">View posts</button>
        <button *ngIf="userRole == 'ROLE_ADMIN'" mdbBtn color="red" id="delete-button" (click)="deleteProfile.show();">Delete User</button>
      </div>
      <div class="delete-button">

      </div>
    </div>
  </div>

  <div *ngIf="vision" class="post-table">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Text</th>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Comment</th>
      </tr>
      </thead>
      <tbody class="thead-dark-child">
      <tr *ngFor="let s of posts; let r = index;">
        <td><a routerLink="post/{{s.id}}">
          <img width="534" height="300" src="{{s?.photo}}" alt="No photo">
        </a>
        </td>
        <td>{{s.txt}}</td>
        <td>{{s.date | date: 'dd/MM/yy HH:mm:ss'}}</td>
        <td>{{s.place}}</td>
        <td>{{s.comment?.length}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div mdbModal #deleteProfile="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     aria-hidden="true">

  <div class="modal-dialog modal-md" role="document" style="text-align: center">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Are you sure?</h4>
      </div>
      <div style="margin: 5% 10%; font-size: 20px">
        If you continue, the account will be deleted, without the possibility of recovery
      </div>

      <div class="modal-footer" style="display: flex">
        <button type="button" mdbBtn color="red" class="relative waves-light" style="flex: 1" mdbWavesEffect
                (click)="deleteProfile.hide(); _deleteUser();">
          Delete
        </button>
        <button type="button" mdbBtn color="secondary" class="waves-light" style="flex: 1"
                (click)="deleteProfile.hide();" mdbWavesEffect>Cancel
        </button>
      </div>

    </div>
  </div>
</div>





